{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<h1>This is the about page</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque consectetur culpa facilis fugiat fugit iste labore odio, officiis quas quis repellat repudiandae saepe sequi totam ullam vitae voluptate? Amet.</span><span>Aspernatur distinctio laudantium mollitia pariatur sit vel. Cum deleniti deserunt ipsa magnam modi, nihil officiis omnis quam quis tempore. Ad alias consectetur, distinctio doloremque mollitia necessitatibus ratione sint. Consectetur, ipsa!</span><span>Asperiores consequatur cupiditate doloremque eligendi expedita facere hic iusto modi, nam numquam placeat quaerat quod, saepe sapiente sit temporibus velit voluptatum. Ab consequuntur dolorem id itaque, porro repellat temporibus velit.</span></p>
</body>
</html>